extends layout

block content
  a(href='https://github.com/TDamiao/BlockEstudant/')
    img.github-ribbon(src='/images/fork-me-on-github-ribbon.png', alt='Fork me on GitHub')

  .container
    .embed-responsive.embed-responsive-16by9
      iframe.embed-responsive-item(src='http://tdamiao.me/e/TCC___BlockChain%20(1).pdf')
    br